.authenticate-input-header{
    font-size: 30px;
    color: var(--black);
    text-align: center;
}
.seperator{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}

.seperator::before,.seperator::after{
    content: "";
    display: block;
    width: 45%;
    background-color: rgba(0, 0, 0, 0.2);
    height: 2px;
    margin: 0 14px;
}